/* opensans-extrabold.css */

/* BEGIN Extrabold */
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-ExtraBold.eot?v=1.1.0");
    src: url("../fonts/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal; }
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
    src: url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
    font-weight: 800;
    font-style: italic; }
/* END Extrabold Italic */
