/* opensans-light.css */

/* BEGIN Light */
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Light.eot?v=1.1.0");
    src: url("../fonts/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
    font-weight: 300;
    font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-LightItalic.eot?v=1.1.0");
    src: url("../fonts/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
    font-weight: 300;
    font-style: italic; }
/* END Light Italic */
