/* roboto-black.css */

/* BEGIN Black */
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Black.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto-Black.woff?v=1.1.0") format("woff"), url("../fonts/Roboto-Black.ttf?v=1.1.0") format("truetype");
    font-weight: 900;
    font-style: normal; }
/* END Black */
