/* robotodraft-black.css */

/* BEGIN Black */
@font-face {
    font-family: RobotoDraft;
    src: url("../fonts/RobotoDraft-Black.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Black.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-Black.ttf?v=1.0.0") format("truetype");
    font-weight: 900;
    font-style: normal; }
/* END Black */
